/*font-family: 'Shadows Into Light', cursive; estilo de letra a usar*/
/*desktop
@media only screen and (min-width:978px) {
    .letra-letra{
        background-color: rgb(255, 243, 218);
        font-family: 'Anton', sans-serif;
        font-size: 16px;
    }
}*/
/*index header
.header{
    position: sticky;
}
.logtip {
    height: 8rem;
    width: 15rem;
}
.nav-link{
    font-size: 2rem;
}
.naa{
    padding: 1rem;
}
.nab{
    padding: 1rem;
}
.nac{
    padding: 1rem;
}
.nad{
    padding: 1rem;
}*/
/*contenido
.grid-container{
    display: grid;
    grid-template-columns:40rem 40rem;
    grid-template-rows:22.5rem 22.5rem;
    justify-content: center;
}
.dos{
    display: flex;
    grid-row: 1 / span 2;
}
.emps{  
    height: 30rem;
    width: 30rem;
}
.tres{
    font-size: 2rem;
    margin-top: 5rem;
}
.cuatro{
    font-size: 2rem;
    margin-top: 5rem;    
}*/
/*Data
.data{
    display: flex;
    justify-content: center;
    background-color: rgb(69, 255, 202);
    height: 7rem;
    width: 100%;
    text-align: center;
}
.icono{
    height: 5rem;
    width: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    justify-content: center;
}*/
/*escrito
.escrito{
    font-size: 1.5rem;
    text-align: center;
}
.subt1{
    color:#707070;
    text-align: center;
    text-decoration-line: underline;
    font-family: 'Borel';
}
.x{
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    height: 7rem;
    background-color: rgb(69, 255, 202);
}*/
/*edit de contacto*/
/*maps contacto
.fot{
    display: flex;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25rem;
    margin: 2rem;
    justify-content: space-around;
    background-color: rgb(254, 255, 172);
    border-radius: 1rem;
}
.coment{
    display: flex;
}
button {
    background: rgb(254, 255, 172);
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    display: flex;
}
.textarea{
    height: 15rem;
    width: 50rem;
    border-radius: 1rem;
}
.button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
.button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}
.maps{
    display: flex;
    margin-left: 2rem;
}*/
/*redes
.socialmedia{
    list-style: none;
    display: flex;
    height: 7rem;
    width: 100%;
    justify-content: center;
}
.faceintswhats {    
    padding: 1rem;
    width: 5rem;
    height: 5rem;
}*/
/*empresa data
.design{ efecto de titulo
    display: flex;
    font-size: 6rem;
    justify-content: center;
    font-weight: 1000;
    width: 100%;
    color:rgba(0,0,0,.5);
    font-weight: bold;

    background-image: url(/imag/stock-vector-cat-paw-dog-paw-kitten-vector-seamless-pattern-wallpaper-background-1567436563.jpg);
    background-size: cover;
    background-position-y: center;

    background-clip: text;
    -webkit-background-clip: text;
}
.hero{
    min-height: 10rem;
    display: flex;
    align-items: flex-start;
}
.caption{
    font-size: 1.5rem;
    text-align: center;
}
.delay{
    animation-delay: 1s;
}
.form{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2rem;
}
.written{
    animation-delay: 3s;
}
.carousel{
    border: black solid;
    margin: 2rem;
}*/

/*tienda (alimento)
.foto{
    height: 10rem;
    width: 10rem;
    border-radius: .5rem;
}
.contenedor-foto{
    background-color: #e6e6e6;
    border-radius: .5rem;
    border: .5rem #e6e6e6 solid;
    height: 20rem;
}
.contenido{
    height: 30rem;
    width: 100%;
    justify-content: center;
    display: flex;
}
.mostrador{
    width: 100%;
    transition: .5s ease;
}
.mostrador .fila{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.mostrador .fila .item{
    max-width: 13rem;
    padding: .5rem;
    height: 1rem;
    text-align: center;
    margin: 0 .5rem;
    cursor: pointer;
    border-radius: 1.5rem;
    transition: .3s;
}
.mostrador .fila .item:hover{
    background-color: #e6e6e6;
}
.mostrador .fila .item img{
    width: 100%;
    margin: 2rem 0;
}
.mostrador .fila .item .descripcion{
    color: #707070;
    font-weight: bold;
}
.mostrador .fila .item .precio{
    color: #f85151;
    font-weight: bold;
    font-size: 2rem;   
}
.seleccion{
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.cerrar{
    position: absolute;
    right: 0;
    top: 2.5rem;
    right: 2.5rem;
    cursor: pointer;
}

.info{
    padding: 2.5rem;
}
.info img{
    display: block;
    margin: 5rem auto;
    width: 80%;
}
.info h2{
    color: #707070;
    margin-bottom: 2rem;
}
.info p{
    font-size: 6rem;
    color: #707070;
    margin-bottom: 1rem;
}
.info .precio{
    font-size: 5rem;
    font-weight: bold;
    color: #f85151;
    margin-bottom: 1rem;
    display: block;
}
.info .fila{
    display: flex;
    align-items: flex-end;
}
.info .fila label{
    display: block;
    margin-bottom: 5rem;
}
.info .fila select{
    width: 15rem;
    font-size: 5rem;
    padding: 1rem;
    margin-right: 5rem;
}
.info .fila button{
    height: 10rem;
    border: none;
    padding: 0 10rem;
    color: #fff;
    background-color: #f85151;
}*/


/*mobile*/
@media only screen and (max-width:480px) {
    .letra-letra{
        background-color: rgb(223, 204, 251);
        font-size: 8rem;
        padding: 10px;
    }    
    /*header*/
    /*contenido
    .grid-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-bottom: 1rem;
    }*/
    .descripcion{
        font-size: 1.5rem;
    }
    .precio{
        font-size: 1.5rem;
    }

    /*data
    .data{
        flex-direction: column;
        height: 17rem;  
    }
    .icono{
        margin: 1rem;
    }*/
    /*escrito*/
    .escrito{
        font-size: 1rem;
    }
    .x{
        height: 10rem;
        margin: 0rem;
        font-size: 1.5rem;
        text-align: center;
    }
    /*edit de contacto*/
    .fot{
        margin: 1rem 0rem;
        font-size: 1.5rem;
    }
    .coment{
        flex-direction: column;
        height: 60rem;
        width: 100%;
    }
    .textarea{
        max-width: 25rem;
    }
    .socialmedia{
        text-align: center;
        padding: 0rem;
    }
    .face-ints{
        width: 5rem;
        height: 5rem;
    }
    /*edit empresa*/
    .design{ /*efecto de titulo*/
        display: flex;
        font-size: 6rem;
        width: 100%;
    }
    .form{
        display: flex;
        flex-direction: column;
        background-color: rgb(254, 255, 172);
        border-radius: 1rem;
    }
    .written{
        font-size: 1.5rem;
        margin:1rem;
    }


}


