footer{
    div{
        p{
            font-size: 1.5rem;
            text-align: center;
            background-color: $verde;
        }
        h2{
            color: $gris;
            text-align: center;
            text-decoration-line: underline;
            font-family: 'Borel';
        }
    }
}